[color]
	ui = auto
[alias]
	cim = commit -m
	st = status
[core]
	editor = subl -w
	excludesfile = ~/.gitignore
	quotepath = false
[user]
	name = Lars Feyerabend
	email = post@lars-feyerabend.de
[include]
	path = .gitconfig-github
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[push]
	default = matching
